!gradle-wrapper.jar
/.gradle
/out/
build/
/test-output/
.idea/
/node_modules
*.class
*.swp
*.swo
*.iws
*.iml
.DS_Store
/local.properties
/.env
grade.json
.score.json
/config.yaml
/email.txt
.kotlintest/
